<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>{% block title %}Game Portal{% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>
<body class="retro-bg">
    <div class="neon-grid"></div>
    <header class="retro-header">
        <div class="logo-block">
            <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="Логотип" class="logo-img">
            <span class="logo-text">GAME PORTAL</span>
        </div>
        <nav class="retro-nav">
            <ul>
                 {% for m in menu %}
                        {% if current_user.is_authenticated %}
                            {% if m.title != 'Авторизация' %}
                                <li><a href="{{ m.url }}" >{{ m.title }}</a></li>
                            {% endif %}
                        {% else %}
                            {% if m.title != 'Профиль' %}
                                <li><a href="{{ m.url }}" >{{ m.title }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
            </ul>
        </nav>
    </header>
    <main class="retro-main">
        {% block content %}{% endblock %}
    </main>
    <footer class="retro-footer">
        <p>&copy; 2025 Game Portal. Все права защищены.</p>
    </footer>
    {% block extra_scripts %}{% endblock %}
</body>
</html>