{% extends 'base.html' %}

{% block content %}
<section class="profile-hero-section">
    <div class="profile-hero-block">
        <h1 class="neon-title" style="text-align:center;">{{ title }}</h1>
        {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
        <div class="profile-grid">
            <!-- Аватар -->
            <div class="profile-avatar">
                {% if user.avatar %}
                    <img src="data:image/png;base64,{{ user.avatar|b64encode }}" alt="Аватар {{ user.name }}" class="avatar-image">
                {% else %}
                    <img src="{{ url_for('static', filename='images/default.png') }}" alt="Аватар {{ user.name }}" class="avatar-image">
                {% endif %}
            </div>
            <!-- Информация -->
            <div class="profile-details neon-block">
                <ul class="info-list">
                    <li><span class="label">Логин:</span> {{ user.login }}</li>
                    <li><span class="label">Имя:</span> {{ user.name }}</li>
                    <li><span class="label">Email:</span> {{ user.email }}</li>
                    <li><span class="label">Дата регистрации:</span> {{ user.time|datetimeformat }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="stats-section">
    <div class="stats-container neon-block">
        <h2 class="stats-title neon-title" style="font-size:2rem;">Статистика игр</h2>
        {% if stats %}
            <ul class="stats-list">
                {% for stat in stats %}
                    <li>
                        <span class="game-name">{{ stat.game.title }}</span>
                        <span class="time-spent">Время: {{ stat.time_spent | format_time }}</span>
                        <span class="last-played">Последний раз: {{ stat.last_played.strftime('%Y-%m-%d %H:%M') }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="no-stats">Нет статистики игр.</p>
        {% endif %}
    </div>
</section>

<section class="favorites-section">
    <div class="favorites-container neon-block">
        <h2 class="favorites-title neon-title" style="font-size:2rem;">Избранные игры</h2>
        {% if favorites %}
            <div class="cards-container">
                {% for favorite in favorites %}
                    <a href="{{ url_for('game', game_id=favorite.game.id) }}" class="game-card">
                        {% if favorite.game.cover %}
                            <div class="game-cover">
                                <img src="data:image/jpeg;base64,{{ favorite.game.cover|b64encode }}" alt="{{ favorite.game.title }}">
                            </div>
                        {% endif %}
                        <div class="game-title">
                            <div class="game-name">{{ favorite.game.title }}</div>
                            <div class="game-type">
                                {% if favorite.game.type == 'link' %}
                                    <img src="{{ url_for('static', filename='images/type/web.png') }}" alt="Web" class="type-icon">
                                    <span>Web</span>
                                {% elif favorite.game.type == 'pygame' %}
                                    <img src="{{ url_for('static', filename='images/type/pygame.png') }}" alt="Pygame" class="type-icon">
                                    <span>Pygame</span>
                                {% elif favorite.game.type == 'unity' %}
                                    <img src="{{ url_for('static', filename='images/type/unity.png') }}" alt="Unity" class="type-icon">
                                    <span>Unity</span>
                                {% endif %}
                            </div>
                            {% if favorite.game.genre %}
                                <div class="game-genre">{{ favorite.game.genre }}</div>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-favorites">Нет избранных игр.</p>
        {% endif %}
    </div>
</section>
{% endblock %}