{% extends 'admin/base_admin.html' %}

{% block content %}
<h1>{{ title }}</h1>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Название</label>
        <input type="text" name="title" class="form_input" required>
    </div>
    <div class="form-group">
        <label>URL</label>
        <input type="text" name="url" class="form_input" required>
    </div>
    <div class="form-group">
        <label>Текст</label>
        <textarea name="text" class="form_input" rows="5" required></textarea>
    </div>
    <div class="form-group">
        <label>Обложка</label>
        <input type="file" name="cover" class="form_input" accept="image/*" required>
    </div>
    <button type="submit" class="btn">Добавить</button>
</form>
{% endblock %}